@import "../_module.scss";
.navigation-bar {
    @include width-height(100vw, 5vh);
    position: fixed;
    z-index: 3;
    background-color: $alpha-color;
    display: grid;
    border-bottom: 1.5px solid #25252573;
    grid-template-areas: "none left middle middle right right";
    h1 {
        font-size: 2rem;
        margin-top: 5px;
        color: $bright-color;
    }
    img {
        filter: brightness(1.4) grayscale(40%);
        @include width-height(5vh, 5vh);
    }
    @media screen and (max-width: 600px) {
        img {
            @include width-height(4vh, 4vh);
        }
        @include width-height(100vw, 4vh);

    }
}

.left-part {
    grid-area: left;
    display: flex;

    @media screen and (max-height: 800px) {
        h1 {
            font-size: 1.5rem;
        }
    }
    @media screen and (max-width: 850px) {
        h1 {
            font-size: 1.3rem;
        }
    }
    @media screen and (max-height: 700px) {
        h1 {
            font-size: 1.3rem;
        }
    }
    @media screen and (max-height: 600px) {
        h1 {
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 600px) {
        h1 {
            font-size: 1.3rem;
        }
    }
    
}
.middle-part {
    grid-area: middle;
    @include flex-box();
    margin-top: -1vh;
    input {
        width: 60%;
        height: 2vh;
        border: 1px solid $black-color;
        background-color: $bright-color;
    }
    button {
        width: 2vw;
        height: 2.6vh;
        border: 1px solid $black-color;
        background-color: $bright-color;
    }
    img {
        filter: opacity(40%);
        height: 100%;
        width: 100%;
    }
    @media screen and (max-width: 700px) {
        input {
            display: none;
        }
        button {
            display: none;
        }
    }
}
.right-part {
    display: flex;
    align-items: center;
    grid-area: right;
    h1 {
        font-size: 1.5rem;
        margin-right: 5vw;
        &:hover {
            cursor: pointer;
        }
    }
    img {
        margin-top: -2vh;
        width: 4vh;
        height: 4vh;
        background-color: $bright-color;
        border-radius: 50%;
        border: 1.5px solid darken($bright-color,40%);
        filter: brightness(100%) grayscale(0%);
        margin-right: 0.5vw;
    }
    @media screen and (max-width: 600px) {
        h1 {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-height: 800px) {
        h1 {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-height: 700px) {
        h1 {
            font-size: 1rem;
        }
    }
    @media screen and (max-height: 600px) {
        h1 {
            font-size: 0.8rem;
        }
    }
    @media screen and (max-width: 850px) {
        h1 {
            font-size: 1.3rem;
        }
    }
}
