@import "../_module.scss";
.navigation-bar {
    @include width-height(100vw, 5vh);
    position: fixed;
    z-index: 3;
    background-color: $main-color;
    display: grid;
    grid-template-areas: "none left middle middle right right";
    h1 {
        font-size: 2rem;
        margin-top: 5px;
        color: $background-color;
    }
    img {
        filter: brightness(1.2) grayscale(40%);
        @include width-height(5vh, 5vh);
    }
}

.left-part {
    grid-area: left;
    display: flex;

    @media screen and (max-height: 800px) {
        h1 {
            font-size: 1.5rem;
        }
    }
    @media screen and (max-height: 700px) {
        h1 {
            font-size: 1.3rem;
        }
    }
    @media screen and (max-height: 600px) {
        h1 {
            font-size: 1rem;
        }
    }
}
.middle-part {
    grid-area: middle;
    @include flex-box();
    margin-top: -1vh;
    input {
        width: 60%;
        height: 2vh;
    }
    button {
        width: 2vw;
        height: 2.6vh;
    }
    img {
        filter: opacity(40%);
        height: 100%;
        width: 100%;
    }
}
.right-part {
    display: flex;
    align-items: center;
    grid-area: right;
    h1 {
        font-size: 1.5rem;
        margin-right: 5vw;
        &:hover {
            cursor: pointer;
        }
    }
    img {
        margin-top: -2vh;
        height: 5vh;
        width: 5vw;
    }
    @media screen and (max-height: 800px) {
        h1 {
            font-size: 1.2rem;
        }
    }
    @media screen and (max-height: 700px) {
        h1 {
            font-size: 1rem;
        }
    }
    @media screen and (max-height: 600px) {
        h1 {
            font-size: 0.8rem;
        }
    }
}
