@import "../_module.scss";
.home-display {
    position: absolute;
    width: 100vw;
    height: 100vh;
    img {
        @include width-height(100%,100%);
        filter: opacity(40%);
    }
    h2,
    h1 {
        color: $background-color;
        z-index: 3;
    }
    h2 {
        font-size: 2rem;
    }
    h1 {
        margin-top: 2rem;
        font-size: 1.3rem;
    }
    @media screen and (max-width: 900px) {
        h2 {
            font-size: 1.5rem;
        }
        h1 {
            margin-top: 2rem;
            font-size: 1rem;
        }
    }
    @media screen and (max-width: 700px) {
        h2 {
            font-size: 1.2rem;
        }
        h1 {
            margin-top: 2rem;
            font-size: 0.8rem;
        }
    }
    @media screen and (max-width: 600px) {
        h2 {
            font-size: 1.0rem;
        }
    }
}

.sign-center {
    @include width-height(100vw,100vh);
    position: absolute;
    @include flex-box();
}
.sign-div {
    background-color: $main-color;
    z-index: 3;
    @include width-height(30vw,60vh);
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}
