.register {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
}

.register-form {
  position: absolute;
  z-index: 5;
  width: 30rem;
  height: 33rem;
  background-color: #00000060;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  border-radius: 10px;
}
.register-form input {
  font-size: 1.2rem;
  height: 1.3rem;
  border: 1px solid #25252573;
  background-color: #e4f3fe;
  border-radius: 5px;
  z-index: 7;
}
.register-form h1 {
  font-size: 1.3rem;
  color: #e4f3fe;
  text-shadow: 0 0 5px #fff, 0 0 10px #00b4e6;
}
@media screen and (max-width: 800px) {
  .register-form {
    width: 20rem;
    height: 35rem;
  }
  .register-form h1 {
    font-size: 1.3rem;
  }
}

#registerButton {
  margin-top: 1.5rem;
  width: 4rem;
  height: 2rem;
  background-color: #0463ac81;
  border-radius: 5px;
  color: #e4f3fe;
  border: 0 solid #25252573;
  z-index: 7;
}
#registerButton:hover {
  cursor: pointer;
  background-color: #ffffff1e;
}

#correct {
  border: 1.5px solid rgba(0, 255, 0, 0.7);
}

#incorrect {
  border: 1.5px solid rgba(255, 0, 0, 0.7);
}

.emailTooltip,
.accountTooltip,
.passwordTooltip,
.password2Tooltip,
.selectImgId {
  position: absolute;
  top: 17.5rem;
  left: 22.5rem;
  background-color: #e4f3fe;
  padding-left: 5px;
  padding-right: 5px;
  width: 4rem;
  height: 10vw;
  font-size: 1rem;
  border-radius: 6px;
  z-index: 7;
  border: 1px solid #25252573;
}
.emailTooltip h1,
.accountTooltip h1,
.passwordTooltip h1,
.password2Tooltip h1,
.selectImgId h1 {
  font-size: 0.7rem;
  color: #0462ac;
}
@media screen and (max-width: 1100px) {
  .emailTooltip h1,
.accountTooltip h1,
.passwordTooltip h1,
.password2Tooltip h1,
.selectImgId h1 {
    font-size: 0.5rem;
  }
}
@media screen and (max-height: 1100px) {
  .emailTooltip h1,
.accountTooltip h1,
.passwordTooltip h1,
.password2Tooltip h1,
.selectImgId h1 {
    font-size: 0.5rem;
  }
}
@media screen and (max-width: 800px) {
  .emailTooltip,
.accountTooltip,
.passwordTooltip,
.password2Tooltip,
.selectImgId {
    left: 16.5rem;
  }
}

.for-blur {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  backdrop-filter: blur(5px);
  width: 100%;
  height: 100%;
}

.emailTooltip {
  margin-left: 0;
  margin-top: -12rem;
  width: 6.5rem;
  height: 1.5rem;
}

.accountTooltip {
  margin-left: 0;
  margin-top: -7rem;
  width: 6.5rem;
  height: 3rem;
}

.passwordTooltip {
  margin-left: 0;
  margin-top: -2rem;
  width: 6.5rem;
  height: 4.5rem;
}

.password2Tooltip {
  margin-left: 0;
  margin-top: 3.5rem;
  width: 6.5rem;
  height: 2.5rem;
}

.selectImgId {
  margin-left: 0;
  margin-top: 7rem;
  width: 6.5rem;
  height: 1.5rem;
}

.register-tootlips {
  width: 100%;
  height: 100%;
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  justify-content: flex-end;
  margin-left: -2%;
}

#hidden {
  display: none;
}

#visible {
  display: flex;
}
@media screen and (max-width: 450px) {
  #visible {
    display: none;
  }
}

#X2Button {
  background-color: #0463ac81;
  border-radius: 5px;
  color: #e4f3fe;
  border: 0 solid #25252573;
}
#X2Button:hover {
  cursor: pointer;
  background-color: #ffffff1e;
}

.flex {
  display: flex;
}
.flex img {
  margin-left: 1vw;
  margin-right: 1vw;
  border-radius: 50%;
  width: 8vh;
  height: 8vh;
  background-color: #ffffff1e;
  filter: opacity(100%);
  border-radius: 50%;
  border: 2px solid #03467a;
  z-index: 7;
}
.flex img:hover {
  width: 9vh;
  height: 9vh;
  cursor: pointer;
}

#selected {
  border: 1.5px solid rgba(0, 255, 0, 0.7);
}

.cancel-register-button {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  margin-left: -5%;
  margin-top: 5%;
  width: 100%;
  height: 100%;
  z-index: 6;
}

/*# sourceMappingURL=register.css.map */
