@import "../_module.scss";
@mixin margins-size($left, $top, $width, $height) {
    margin: {
        left: $left;
        top: $top;
    }
    width: $width;
    height: $height;
}
.register {
    @include flex-box();
    @include width-height(100wh, 100vh);
}
.register-form {
    position: absolute;
    z-index: 5;
    @include width-height(43vw, 65vh);
    background-color: #00000060;
    @include flex-box();
    flex-direction: column;
    border-radius: 10px;
    input {
        font-size: 1.2rem;
        height: 1.3rem;
        border: 1px solid #25252573;
        background-color: $bright-color;
        border-radius: 5px;
        z-index: 7;
    }
    h1 {
        font-size: 1.3rem;
        color: $bright-color;
        text-shadow: 0 0 5px #fff, 0 0 10px #00b4e6;
    }
    @media screen and (max-width: 1100px) {
        input {
            width: 65%;
        }
    }
    @media screen and (max-width: 800px) {
        width: 55vw;
        h1 {
            font-size: 1.3rem;
        }
        input {
            width: 80%;
        }
    }
    @media screen and (max-height: 900px) {
        height: 85vh;
    }
    @media screen and (max-height: 700px) {
        height: 90vh;
    }
}

#registerButton {
    margin-top: 5vh;
    @include width-height(4rem, 2rem);
    background-color: $alpha-color;
    border-radius: 5px;
    color: $bright-color;
    border: 0 solid #25252573;
    &:hover {
        cursor: pointer;
        background-color: #ffffff1e;
    }
    z-index: 7;
}
#correct {
    border: 1.5px solid rgb(0, 255, 0, 0.7);
}
#incorrect {
    border: 1.5px solid rgba(255, 0, 0, 0.7);
}
.emailTooltip,
.accountTooltip,
.passwordTooltip,
.password2Tooltip,
.selectImgId {
    position: absolute;
    top: 17.5rem;
    left:35.5rem;
    background-color: $bright-color;
    padding: {
        left: 5px;
        right: 5px;
    }
    @include width-height(4rem, 10vw);
    font-size: 1rem;
    border-radius: 6px;
    h1 {
        font-size: 0.7rem;
        color: $main-color;
    }
    @media screen and (max-width: 1100px) {
        h1 {
            font-size: 0.5rem;
        }
    }
    @media screen and (max-height: 1100px) {
        h1 {
            font-size: 0.5rem;
        }
    }
    z-index: 7;
    border: 1px solid #25252573;
}
.for-blur {
    @include flex-box();
    flex-direction: column;
    backdrop-filter: blur(5px);
    @include width-height(100%, 100%);
}
.emailTooltip {
    @include margins-size(0, -20vh, 10vw, 3vh);
}
.accountTooltip {
    @include margins-size(0, -8vh, 10vw, 6vh);
}
.passwordTooltip {
    @include margins-size(0, 3vh, 10vw, 9.5vh);
}
.password2Tooltip {
    @include margins-size(0, 11vh, 10vw, 5vh);
}
.selectImgId {
    @include margins-size(0, 16vh, 10vw, 3vh);
}
.register-tootlips {
    width: 100%;
    height: 100%;
    position: absolute;
    @include flex-box();
    justify-content: flex-end;
    margin-left: -2%;
}
#hidden {
    display: none;
}
#visible {
    display: flex;
}
#X2Button {
    background-color: $alpha-color;
    border-radius: 5px;
    color: $bright-color;
    border: 0 solid #25252573;
    &:hover {
        cursor: pointer;
        background-color: #ffffff1e;
    }
}
.flex {
    display: flex;
    img {
        margin-left: 1vw;
        margin-right: 1vw;
        border-radius: 50%;
        width: 8vh;
        height: 8vh;
        background-color: #ffffff1e;
        filter: opacity(100%);
        border-radius: 50%;
        border: 2px solid darken($main-color, 10%);
        &:hover {
            width: 9vh;
            height: 9vh;
            cursor: pointer;
        }
        z-index: 7;
    }
}
#selected {
    border: 1.5px solid rgb(0, 255, 0, 0.7);
}
.cancel-register-button {
    display: flex;
    justify-content: flex-end;
    align-items: flex-start;
    position: absolute;
    margin-left: -5%;
    margin-top: 5%;
    width: 100%;
    height: 100%;
    z-index: 6;
}
