$main-color: #0462ac;
$alpha-color: #0463ac81;
//#0090b4
$bright-color: lighten($main-color, 60%);
$black-color: #333333;
@mixin flex-box() {
    display: flex;
    justify-content: center;
    align-items: center;
}
@mixin width-height($width,$height) {
    width: $width;
    height: $height;
}